@page "/saveemployee"
@inject NavigationManager nm
@inject IEmployee ob;
<EditForm Model="EmployeeModel">
    <input type="text" @bind="@EmployeeModel.firstname" placeholder="Enter First Name" />
    <br />
    <br />
    <input type="text" @bind="@EmployeeModel.lastname" placeholder="Enter last Name" />
    <br />
    <br />
    <input type="text" @bind="@EmployeeModel.phone" placeholder="Enter phone " />
    <br />
    <br />
    <input type="text" @bind="@EmployeeModel.dob" placeholder="Enter dob" />
    <br />
    <br />
    <input type="text" @bind="@EmployeeModel.cnic" placeholder="Enter Cnic" />
    <br /><br />
    <input type="text" @bind="@EmployeeModel.padress" placeholder="Enter Permanent Adress" />
    <br />
    <br />
    <input type="text" @bind="@EmployeeModel.tadress" placeholder="Enter Temporary Adress" />
    <br /><br />
    <input type="text" @bind="@EmployeeModel.emptype" placeholder="Enter Employee Type" />
    <br />
    <br />
    <input type="text" @bind="@EmployeeModel.joiningdate" placeholder="Enter joining date " />
    <br />
    <br />
    <input type="text" @bind="@EmployeeModel.enddate" placeholder="Enter End Date " />
    <br />
    <br />
    <br /><br />
    <button type="submit" @onclick="SaveEMP">Save</button>
</EditForm>

@code {
    EntEmployee EmployeeModel { get; set; } = new EntEmployee();
    private void SaveEMP()
    {
        Random rand = new Random();
        EmployeeModel.empid = rand.Next(100000, 999999);
        ob.SaveEmployee(EmployeeModel);
        nm.NavigateTo("employeeprofile");
    }
}
